src/xml_schema.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	  <xs:element name="Players">
		      <xs:complexType>
			            <xs:sequence>
					            <xs:element name="Player" maxOccurs="unbounded" minOccurs="0">
							              <xs:complexType>
									                  <xs:sequence>
												                <xs:element type="xs:string" name="user_name"/>
														              <xs:element type="xs:string" name="first_name"/>
															                    <xs:element type="xs:string" name="last_name"/>
																	                  <xs:element type="xs:date" name="birth_date"/>
																			                <xs:element type="xs:string" name="birth_place"/>
																					            </xs:sequence>
																						              </xs:complexType>
																							              </xs:element>
																								            </xs:sequence>
																									        </xs:complexType>
																										  </xs:element>
																									  </xs:schema>
